.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-center2, .container-numbers .row {
  align-items: center;
  justify-content: center; }

.clearfix {
  content: "";
  clear: both;
  display: table; }

.message {
  position: absolute;
  width: 100%;
  height: 100%; }

/*PICTURE*/
.section-picture {
  background: url(http://img03.deviantart.net/c4e4/i/2012/268/2/5/crumpled_paper_background_image_by_k4l3b-d5fxhl3.jpg); }
  .section-picture .container {
    max-width: 1200px;
    margin: 0 auto; }
    .section-picture .container .fridge {
      margin-top: 50px; }

.col.fridge,
.col.text,
.left-col-fridge,
.right-col-fridge {
  float: left; }

.text {
  margin-top: 50px;
  text-align: left; }
  .text h2, .text p {
    font-family: "Open Sans", sans-serif; }
  .text h2 {
    font-weight: bold; }
  .text .left-col-fridge,
  .text .right-col-fridge {
    padding: 15px; }
    .text .left-col-fridge p,
    .text .right-col-fridge p {
      color: #000000; }

/*NUMBERS*/
.container-numbers {
  max-width: 1200px;
  margin: 0 auto; }
  .container-numbers .row {
    display: block; }

.col-numbers h1 {
  font-family: "Chewy", cursive;
  text-align: center; }
.col-numbers p {
  color: #00CCFF;
  font-size: 15px;
  font-weight: bold;
  text-align: center; }
